@CHARSET "UTF-8";


@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@import url(//fonts.googleapis.com/earlyaccess/notosansegyptianhieroglyphs.css);

@import url(//fonts.googleapis.com/earlyaccess/kopubbatang.css);

@import url(//fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@import url(//fonts.googleapis.com/earlyaccess/jejuhallasan.css);

@import url(//fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);






.panel-heading .note-btn {
	width: auto !important;
	height: auto !important;
	padding: 7px 8px 7px 10px !important;
	font-size: 10px;
}

.note-current-fontname{
	font-size: 14px;
}
.note-current-fontsize {
	font-size: 12px;
}
















