/* 게시물 상세보기 설정 */
.board-detail h3 {
	border-bottom: 2px solid #5d5d5d;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
/* 댓글작성영역 */
.common-write {
	border: 1px solid #cecece;
	background: #ececec;
	border-radius: 3px;
	margin: 15px;
}

.common-write [type="checkbox"] {
	margin: 10px 10px;
}

.ta {
	margin: 10px;
}

textarea {
	width: 100%;
}

.a-6 .button-twitter {
	min-width: 40%;
	width: 100%;
	padding: 0 0 0 0;
}

.a-6 .row .row {
	padding-left: 20%;
	padding-right: 20%;
}
@media ( min-width :768px) {
	.a-6 .row .row {
		padding-left: 25%;
		padding-right: 25%;
	}
}
@media ( max-width :768px) {
	.a-6 .row .row {
		padding-left: 8%;
		padding-right: 8%;
	}
}

.reply-create {
	height: 55px;
	border-radius: 5%;
}