
/* ############### frmae A 시작 */
.divA {
	padding-right: 12px;
	
	/*info List 수정하면서 0px 추가해봄*/
	padding-right: 0px;
}

.aFrameDiv{
	padding-left: 20px; 
/* 	padding-right: 20px;  */
	padding-top: 20px; 
	padding-bottom: 20px; 
/* 	border: solid; border-color: red; */
	
}

.a-1{
	border: solid; border-color: pink; height: auto; padding-top: 1%;
}


.top-slide-add{
/* 		border: solid; border-color: pink;  */
		height: auto; 
/* 		padding-top: 1%; */
        
}

.a-2{
	height: auto;
	padding-top: 25px; 
	border: solid; 
	border-color: skyblue;
}

.a-2a{
    height: auto;
	padding-top: 25px; 
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 15px;
    padding-bottom: 25px;
	
}


.a-2b{
	
	 height: auto;
/* 	padding-top: 25px;  */
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 15px;
}

/* .a-2b-col{ */
/* 	border: solid; */
/*     border-color: red; */
/*     width: 110px; */
/*     padding-right: 0px; */
/*     padding-left: 0px; */
	
/* } */

.a-2b .btn  {
	width: 110px;
}

/* .a-2b .show-tick { */
/* 	width: 110px; */
	
/* } */



.bootstrap-select.btn-group .dropdown-menu {
	
	min-width: 65%
	}




.a-2c{
    height: auto;
	padding-top: 25px; 
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 15px;
}



/* a-new2c : 커뮤니티 게시판에서 사용함, a-2에서 마진만 조금 다름 */
.a-new2c{
 height: auto;
	padding-top: 1px;
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 10px;
}



.a-3{
	height: auto;
	padding-top: 25px; 
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 15px;
}

.a-4{
	height: auto;
	padding-top: 25px; 
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 15px;
}

.a-5{
	height: auto;padding-top: 25px; border: solid; border-color: yellow;
}

.a-6{
	height: auto;
    margin-top: 12px;
    padding-top: 13px;
    padding-bottom: 7px;
    background-color: white;
}

.a-7{
	height: auto;padding-top: 25px; border: solid; border-color: green;
}

.a-8{
	height: auto;padding-top: 25px; border: solid; border-color: blue;
}

.a-9{
	height: auto;padding-top: 25px; border: solid; border-color: red;
}

.a-10{
	height: auto;padding-top: 25px; border: solid; border-color: skyblue;
}





/* frmae A 끝 */

/* ############### frame B 시작*/
.divB{
	padding-left: 13px;
}

.bFrameDiv {
padding-top: 20px; padding-bottom: 20px; margin-bottom: 100px;  
/* border: solid; border-color: blue; */
}


.b-1{
/* 	border: solid; border-color: black; */
	padding: 4% 2%;
    background-color: white;
}

.b-1 button{
	white-space: pre-wrap; 
	border-radius: 4px; width: 100%;
	
}



.b-2{
	/* border: solid; */
    /* border-color: purple; */
    margin-top: 25px;
    /* padding: 2px 2px; */
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}



.b-2-row {
	padding-left: 14px;  padding-right: 14px;
}

.b-2-row button {
	white-space: pre-wrap; 
	text-transform:  capitalize;
	padding: 20px 5px 20px 6px;
	font-size: 75%;
}

.b-2-row .btn-success{
	border-radius: 0; height: 120px;
}

.b-2-row .btn-info{
	border-radius: 0; height: 120px;
}

.b-2-row .btn-warning{
	border-radius: 0; height: 120px;
}

.b-2-row .btn-danger{
	border-radius: 0; height: 120px;
}


.b-3{
/* 	border: solid; border-color: babyblue;  */
	margin-top: 25px;
	background-color: white;
}

.b-3 .notice a {
	min-width: 25px !important;
	height: 25px !important;
	padding: 0px;
	padding-left: 2px;
	padding-bottom: 2px;
	float: right;
	margin: 5px;
}
.b-3 .notice a span {
	top: -1px;
}


.b-4{
/* 	border: solid; border-color: pink;  */
	margin-top: 25px;
	height: auto;
}

.b-5{
	border: solid; border-color: green; margin-top: 25px;
	height: auto;
}

.b-carouselBottom{
	/* 영역 B : 광고 tab**/
/* 	border: solid;  */
/* 	border-color: black; */
	margin-top: 25px;
}

.b-lanking{
/*     border: solid;  */
/* 	border-color: black; */
	padding-top: 25px;
}


.b-comment{
/*     border: solid;  */
/* 	border-color: black; */
	padding-top: 25px;
}

/* frmae B 끝 */

/* ############### frmae C 시작 */

.divC{
	padding-right: 12px;
}
.cFrameDiv{
	padding-left: 20px; padding-right: 20px; padding-top: 20px; 
	padding-bottom: 20px; border: solid; border-color: red;
}

.c-1{
	border: solid; 
	border-color: pink; height: auto; padding-top: 1%;
}

.c-2{
	height: auto;
	padding-top: 25px; border: solid; border-color: skyblue;
}

/* frmae C 끝 */

/* ############### frmae D 시작 */

.divD{
	padding-left: 13px;
}

.dFrameDiv{
	padding-top: 20px; padding-bottom: 20px; 
	margin-bottom: 100px;  border: solid; border-color: blue;
}

.d-1{
	border: solid; border-color: black;
}

.d-2{
	border: solid; border-color: purple; margin-top: 25px;
}

/* frmae D 끝 */


















/* �� ��ư css*/
#btnTab{
  border-radius: 5px;
}

#btnTabLi{
  margin-left: 0px;
}







/* �α��ο���*/

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


.bottomSearch{
	background-color: white;
/*     margin-top: 3px; */
    padding-top: 11px;
    padding-bottom: 14px;
    padding-left: 18px;
}



/* 심리학지식 > detial */

.content-detail {
	height: auto;
	padding-top: 25px; 
	padding-bottom: 25px; 
/* 	border: solid;  */
/* 	border-color: skyblue; */
	padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    margin-top: 15px;
}

.content-inline-border{
   padding-top: 60px; 
   padding-bottom: 85px; 
   border: solid;
   
}
.content-inline-buttons{
    border: solid;
	border-color : #800040;
	padding-top: 157px;
	
}








