
/* ���� A */
.divA {
	padding-right: 12px;
}

.aFrameDiv{
	padding-left: 20px; padding-right: 20px; padding-top: 20px; 
	padding-bottom: 20px; 
/* 	border: solid; border-color: red; */
	
}

.a-1{
	border: solid; border-color: pink; height: auto; padding-top: 1%;
}



.a-2{
	height: auto;
	padding-top: 25px; 
/* 	border: solid;  */
/* 	border-color: skyblue; */
}

.a-3{
	height: auto;padding-top: 25px; border: solid; border-color: purple;
}

.a-4{
	height: auto;padding-top: 25px; border: solid; border-color: pink;
}

.a-5{
	height: auto;padding-top: 25px; border: solid; border-color: yellow;
}

.a-6{
	height: auto;padding-top: 25px; border: solid; border-color: grey;
}

.a-7{
	height: auto;padding-top: 25px; border: solid; border-color: green;
}

.a-8{
	height: auto;padding-top: 25px; border: solid; border-color: blue;
}

.a-9{
	height: auto;padding-top: 25px; border: solid; border-color: red;
}

.a-10{
	height: auto;padding-top: 25px; border: solid; border-color: skyblue;
}


/* ���� B */
.divB{
	padding-left: 13px;
	
}

.bFrameDiv {
padding-top: 20px; padding-bottom: 20px; margin-bottom: 100px;  
/* border: solid; border-color: blue; */
}


.b-1{
/* 	border: solid; border-color: black; */
}

.b-1 button{
	white-space: pre-wrap; 
	border-radius: 4px; width: 100%;
}



.b-2{
/* 	border: solid; border-color: purple; */

margin-top: 25px; 
}


.b-2-row {
	padding-left: 14px;  padding-right: 14px;
}

.b-2-row button {
	white-space: pre-wrap; 
	text-transform:  capitalize;
	padding: 20px 5px 20px 6px;
	font-size: 75%;
}

.b-2-row .btn-success{
	border-radius: 0; height: 120px;
}

.b-2-row .btn-info{
	border-radius: 0; height: 120px;
}

.b-2-row .btn-warning{
	border-radius: 0; height: 120px;
}

.b-2-row .btn-danger{
	border-radius: 0; height: 120px;
}





.b-3{
	border: solid; border-color: babyblue; margin-top: 25px;
}


.b-4{
	border: solid; border-color: pink; margin-top: 25px;
	height: auto;
}

.b-5{
	border: solid; border-color: green; margin-top: 25px;
	height: auto;
}


/* ���� C */

.divC{
	padding-right: 12px;
}
.cFrameDiv{
	padding-left: 20px; padding-right: 20px; padding-top: 20px; 
	padding-bottom: 20px; border: solid; border-color: red;
}

.c-1{
	border: solid; 
	border-color: pink; height: auto; padding-top: 1%;
}

.c-2{
	height: auto;
	padding-top: 25px; border: solid; border-color: skyblue;
}
/* ���� D */

.divD{
	padding-left: 13px;
}

.dFrameDiv{
	padding-top: 20px; padding-bottom: 20px; 
	margin-bottom: 100px;  border: solid; border-color: blue;
}

.d-1{
	border: solid; border-color: black;
}

.d-2{
	border: solid; border-color: purple; margin-top: 25px;
}













/* �� ��ư css*/
#btnTab{

  border-radius: 5px;

}

#btnTabLi{
  margin-left: 0px;
}







/* �α��ο���*/

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}



















