@CHARSET "UTF-8";

/* main-content 입력 창 */
.info-preview-content {
	width : 95% !important;
}




/* 모달창 이미지 업로드 부분 */
.uploadpreview{
  width:150px;
  height:150px;
  display:block;
/*   border:1px solid #ccc; */
  margin:0 auto 15px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}

.preview-img {
	width: 100px;
	height: 100px;
	margin:0 auto 0;
}

.upload-wrap{
  float:left;
/*   width:200px; */
}

input[type="file"] {
    color: transparent;
    width: 120px;
    margin: 0 auto;
    display: block;
}
/* 모달창 이미지 업로드 부분 */

/* 모달창 메인 이미지 부분 설정 */
.modal-main-img {
	background-image: url("/HappyRing/images/product-modal-01-318x416.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	min-height: 300px !important;
	min-width: 50px !important;
	height: auto;
}

.modal-main-img img {
	visibility: hidden;
}
/* 모달창 메인 이미지 부분 설정 */








