@charset "UTF-8";


.divTitle {
		
	border: solid;
	border-color: red;
	
}


.rb_1{
	height: auto;padding-top: 25px; border: solid; border-color: pink;
}

.rb_2{
	height: auto;padding-top: 25px; border: solid; border-color: pink;
}

.rb_3{
	height: auto;padding-top: 25px; border: solid; border-color: pink;
}