@charset "UTF-8";


.rb_1{
	height: auto;padding-top: 25px; border: solid; border-color: blue;
}

.rb_2{
	height: auto;padding-top: 25px; border: solid; border-color: #408080;
}

.rb_3{
	height: auto;padding-top: 25px; border: solid; border-color: #8080ff;
}


.owl-carousel-widget.owl-carousel {
	width: 92%;
}
.slider-widget-aside {
	padding: 20px 0px !important;
}

@media ()