@charset "UTF-8";


.rb_de_1{
	height: auto;padding-top: 25px; border: solid; border-color: blue;
}

.rb_de_2{
	height: auto;padding-top: 25px; border: solid; border-color: #408080;
}

.rb_de_3{
	height: auto;padding-top: 25px; border: solid; border-color: #8080ff;
}