@CHARSET "UTF-8";


.
/* main 상단 카로셀 CSS  */
#custom_carousel .item
{
    color: #fff;
    background-color: #f2f3f9;
    padding: 0 0 20px 0;
}

#custom_carousel .controls
{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd;
    border-bottom: 
}

#custom_carousel .controls li
{
    display: table-cell;
    width: 1%;
    max-width: 90px;
/*     padding-top: 57px;  */
/* 	padding-bottom: 50px; */
}

#custom_carousel .controls li.active
{
    background-color: #fff;
    border-top: 6px solid #ffec17;
    border-left: solid pink;    
    border-right: solid pink;
    
    
}

#custom_carousel .controls a small
{
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}

.featurette img { width: 35px; }

#custom_carousel .col-lg-2
{
    box-sizing: border-box;
    padding: 10px;
}

#custom_carousel .col-lg-2 .logos
{
    height: 75px;
    box-sizing: border-box;
}

#custom_carousel h4 { padding: 20px; }


/*  main 카로셀  contents ����*/

.item {

/*     padding-bottom: 120px; */
/*     background-color: #f2f3f9; */
/*     border-bottom: solid; */
/*     border-bottom-color: pink; */
/*     border-left: solid; */
/*     border-left-color: pink; */
/*     border-right: solid; */
/*     border-right-color: pink; */
/*     border-radius: 0 0 26px 26px; */
}


/* 메인 하단 카로셀 CSS */

#custom_carousel2 .item2
{
    color: #fff;
    background-color: #232323;
    padding: 0 0 20px 0;
}

#custom_carousel2 .controls
{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel2 .controls li
{
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel2 .controls li.active
{
    background-color: white;
    border-top: 3px solid orange;
}

#custom_carousel2 .controls a small
{
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}

.featurette img { width: 35px; }

#custom_carousel2 .col-lg-2
{
    box-sizing: border-box;
    padding: 10px;
}

#custom_carousel2 .col-lg-2 .logos
{
    height: 75px;
    box-sizing: border-box;
}

#custom_carousel2 h4 { padding: 20px; }	


/*  main �ι�° �� contents ����*/
.item2 {

    padding-bottom: 120px;
    background-color: #f2f3f9;
}