@charset "UTF-8";



.challenge_divC_1{
	border: solid; 
	border-color: blue; 
	padding-top: 25px;
	
}

/* ### challenge_divC_1 안에있는 div들 */


/*게시판 카테고리*/
.cha_divCategory{
	border: solid; 
	border-color:  yellow; 
	padding-top: 25px;
}

/*게시글 제목*/
.cha_divTitle{
	border: solid; 
	border-color:  black; 
	padding-top: 25px;
}


/*닉네임 조회수 등록일*/
.cha_divAddInfo{
	border: solid; 
	border-color:  red; 
	padding-top: 25px;
}


/* 도전일기 쓰는 곳 DIV */
.cha_divBody{
	border: solid; 
	border-color:  yellow; 
	padding-top: 25px;
}

/*## cha_divBody 안에 있는 div들 */

/*달력 넣는 곳*/
.cha_divCallendar{
	border: solid; 
	border-color:  blue; 
	padding-top: 25px;	
}




/* 달력 bootstrap*/
.pricingTable{
    text-align: center;
}
.pricingTable .pricingTable-header{
    padding: 30px 0;
    background: #4d4d4d;
    position: relative;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricingTable-header{
    background: #09b2c6;
}
.pricingTable .pricingTable-header:before,
.pricingTable .pricingTable-header:after{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #d9d9d8;
    position: absolute;
    bottom: 12px;
}
.pricingTable .pricingTable-header:before{
    left: 40px;
}
.pricingTable .pricingTable-header:after{
    right: 40px;
}
.pricingTable .heading{
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0;
}
.pricingTable .price-value{
    display: inline-block;
    position: relative;
    font-size: 55px;
    font-weight: bold;
    color: #09b1c5;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .price-value{
    color: #fff;
}
.pricingTable .currency{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: -19px;
}
.pricingTable .month{
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: -30px;
    text-transform: uppercase;
}
.pricingTable .pricing-content{
    padding-top: 50px;
    background: #fff;
    position: relative;
    border: solid;
}
.pricingTable .pricing-content:before,
.pricingTable .pricing-content:after{
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #7c7c7c;
    position: absolute;
    top: 12px;
}
.pricingTable .pricing-content:before{
    left: 40px;
}
.pricingTable .pricing-content:after{
    right: 40px;
}
.pricingTable .pricing-content ul{
    padding: 0 20px;
    margin: 0;
    list-style: none;
}
.pricingTable .pricing-content ul:before,
.pricingTable .pricing-content ul:after{
    content: "";
    width: 8px;
    height: 46px;
    border-radius: 3px;
    background: linear-gradient(to bottom,#818282 50%,#727373 50%);
    position: absolute;
    top: -22px;
    z-index: 1;
    box-shadow: 0 0 5px #707070;
    transition: all 0.3s ease 0s;
}
.pricingTable:hover .pricing-content ul:before,
.pricingTable:hover .pricing-content ul:after{
    background: linear-gradient(to bottom, #40c4db 50%, #34bacc 50%);
}
.pricingTable .pricing-content ul:before{
    left: 44px;
}
.pricingTable .pricing-content ul:after{
    right: 44px;
}
.pricingTable .pricing-content ul li{
    font-size: 15px;
    font-weight: bold;
    color: #777473;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d8;
}
.pricingTable .pricing-content ul li:last-child{
    border-bottom: none;
}



@media screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 25px; }
}




/*이미지 넣는 곳*/
.cha_divImg{
	border: solid; 
	border-color:  pink; 
	padding-top: 25px;	
}

.cha_divImg_slider{
	border: solid;
    height: 394px;
}









/*원고지형식 글 넣는 곳*/
.cha_divWirte{
	border: solid; 
	border-color:  grey; 
	padding-top: 25px;	
}


/*그날의 기분/ 내일의 다짐  넣는 곳 */
.cha_divEmotion{
	border: solid; 
	border-color:  red; 
	padding-top: 25px;		
}

/*그날의 기분 CSS*/
.cha_divEmotion_today{
	border: solid; 
	border-color:  blue; 
	padding-top: 15px;
	padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;		
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
.cha_social{
    text-align:center;
    width:10px;
    height:10px;
    float:left;
    background:#00acee;
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:100px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding:19px;
}
.cha_twitter:hover{background:rgb(255,255,255);color:#FFF;}

/**/

.cha_divEmotion_tomorrow{
	border: solid; 
	border-color:  green; 
	padding-top: 25px;
	padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}


/*detail 북마크, 엔젤링, 신고 버튼  관련글 보기 list div**/
.challenge_divC_2{
	border: solid; 
	border-color:  orange; 
	padding-top: 25px;
}


/* 북마크, 엔젤링, 신고 버튼 **/
.cha_divButtons{
    border: solid; 
	border-color: blue;	 
	padding-top: 25px;
}

/* 관련글 보기 list */
.cha_Related{
	border: solid; 
	border-color: pink;	 
	padding-top: 25px;
	
}


/*detail 댓글 div */
.challenge_divC_3{
	border: solid; 
	border-color:  hotpink; 
	padding-top: 25px;
}


/* 댓글 작성 div */
.cha_comment{
    border: solid; 
	border-color:  purple; 
	padding-top: 25px;
}

/* 댓글 수정 삭제 버튼 */
      .btn-circle {
        width: 10px;
        height: 10px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
       
        
      }
      .btn-circle.btn-lg {
         width: 26px;
    height: 26px;
    padding: 17px 14px;
    font-size: 13px;
    line-height: 1.8;
    border-radius: 25px;
     padding-top: 0px;
    padding-left: 5.4px;
      }

/*등록, 취소, 임시저장 버튼 */
.cha_divPaging{
	border: solid; 
	border-color: green;
	padding-top: 25px;
}

/**/
.cha_tdStyle{
    padding-bottom: 25px;
    padding-top: 25px;
}

