@CHARSET "UTF-8";


/* 도전그룹방 메인버튼 영역 div */
.a-2-ch1 {
	padding: 30px; border: 2px solid red;
}
/* 도전그룹방 메인버튼 4개 */
.challenge article {
	padding: 10px 10px 15px; margin-bottom: 30px;
}
/* 도전 전체보기 버튼 */
.challenge article a { 
	margin-top: 0px;
	font-size: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding: 5px;
	height: 30%;
	min-width: 12%;
	margin-left: 3px;
	line-height: 0px;
}
/* 해시태그 버튼 */
.challenge .box-minimal-text{
	height: 100px;
}
