@charset "UTF-8";

.th_dtail_a2_1{
    padding-top: 60px; 
   border: solid;
}


.th_detail_a2{
	padding-left: 0px;
    padding-right: 0px;
    padding-top: 66px;
}
    
    
.th_detail_body {   
    padding-left: 0px;
    padding-right: 0px;
}    


.th_dtail_a2_2{
	border: solid;
	border-color : green;
	padding-top: 95px;
}

.th_dtail_a2_buttons{
	border: solid;
	border-color : #800040;
	padding-top: 25px;
	
}

.th_dtail_a2_3{
	border: solid;
	border-color : #408080;
	padding-top: 25px;
}

/* 댓글 수정 삭제 버튼 */
      .btn-circle {
        width: 10px;
        height: 10px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
       
        
      }
      .btn-circle.btn-lg {
         width: 26px;
    height: 26px;
    padding: 17px 14px;
    font-size: 13px;
    line-height: 1.8;
    border-radius: 25px;
     padding-top: 0px;
    padding-left: 5.4px;
      }


.th_dtail_a2_4{
	border: solid;
	border-color : yellow;
	padding-top: 25px;
}






























/*
  Modulr.css
  ---------------------
  @desc: Modular CSS Framework
  @author: Decorator.io
  @twitter: https://www.twitter.com/_uloga
  @source: http://www.decorator.io/modulr
\--------------------------------------------*/

/* __ extra edits __ */

.shadow{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}
.thumbnail img{
  float: left;
  width: 100%;
  border: 1px solid #ddd;
}
.before{
  border: 1px solid #009688;
}


.filter .label{
  float: left;
  margin-top: 13px;
  margin-right: 5px;
}
@media (max-width: 800px){
  .after:after {
    border-bottom: none;
    border-left: 1px solid #009688;
    height: 50px;
    top: -20px;
    left: 50%;
    width: 2px;
    z-index: -1;
  }
}

.row.flex.margin-bottom {
	margin-left: 0;
	margin-right: 0;
}

.reply {
	display: none !important;
}

.row.padding-top-20, .row.shadow.padding-15.white, .row.padding-top-15 {
	margin-left: 0;
}

.comment-box {
  font-size: 0.75em;
  background: #88b027;
  color: #FFF;
  position: absolute;
  padding: 7px 13px 7px;
}

.comment-box:before {
    position: absolute;
    content: " ";
    color: #FFF;
    border-style: solid;
    border-color: #88b027 transparent transparent #88b027;
    border-width: 4px;
    bottom: -8px;
    left: 7px;
 }