@charset "UTF-8";

.dailyDate{
	border: solid; 
	border-color: red; 
	padding-bottom: 20px; 
	padding-top: 23px; 
	padding-left: 77px;
}

.dailyEmotion{
	border: solid; border-color: blue;
}






















