@charset "UTF-8";

.dailyDate{
	border: solid; 
	border-color: red; 
	padding-bottom: 20px; 
	padding-top: 23px; 
	padding-left: 77px;
}

.dailyEmotion{
	border: solid; border-color: blue;
}




/* 표정 아이콘에 마우스 올렸을때 이벤트  */
.icon-like img:hover {
	-webkit-transform: translate3d(0, -20%, 0);
          transform: translate3d(0, -20%, 0);
}
















