
/* ���� A */
.divA {
	padding-right: 12px;
}

.aFrameDiv{
	padding-left: 20px; padding-right: 20px; padding-top: 20px; 
	padding-bottom: 20px; border: solid; border-color: red;
	
}

.a-1{
	border: solid; border-color: pink; height: auto; padding-top: 1%;
	
}

.a-2{
	height: auto;padding-top: 25px; border: solid; border-color: skyblue;
	
}


/* ���� B */
.divB{
	padding-left: 13px;
	
}

.bFrameDiv {
padding-top: 20px; padding-bottom: 20px; margin-bottom: 100px;  
border: solid; border-color: blue;
}


.b-1{
	border: solid; border-color: black;
}

.b-2{
	border: solid; border-color: purple; margin-top: 25px;
}


.b-2-row{
	padding-left: 14px;  padding-right: 14px;
	
}

.b-3{
	border: solid; border-color: babyblue; margin-top: 25px;
}


.b-4{
	border: solid; border-color: babyblue; margin-top: 25px;
	height: auto;
}



/* ���� C */

.divC{
	padding-right: 12px;
}
.cFrameDiv{
	padding-left: 20px; padding-right: 20px; padding-top: 20px; 
	padding-bottom: 20px; border: solid; border-color: red;
}

.c-1{
	border: solid; 
	border-color: pink; height: 46px; padding-top: 1%;
}

.c-2{
	height: auto;
	padding-top: 25px; border: solid; border-color: skyblue;
}
/* ���� D */

.divD{
	padding-left: 13px;
}

.dFrameDiv{
	padding-top: 20px; padding-bottom: 20px; 
	margin-bottom: 100px;  border: solid; border-color: blue;
}

.d-1{
	border: solid; border-color: black;
}

.d-2{
	border: solid; border-color: purple; margin-top: 25px;
}




/* main ù��° ��  */
#custom_carousel .item
{
    color: #fff;
    background-color: #f2f3f9;
    padding: 0 0 20px 0;
}

#custom_carousel .controls
{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd;
    border-bottom: 
}

#custom_carousel .controls li
{
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel .controls li.active
{
    background-color: #fff;
    border-top: 6px solid #ffec17;
    border-left: solid pink;    
    border-right: solid pink;
    
    
}

#custom_carousel .controls a small
{
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}

.featurette img { width: 35px; }

#custom_carousel .col-lg-2
{
    box-sizing: border-box;
    padding: 10px;
}

#custom_carousel .col-lg-2 .logos
{
    height: 75px;
    box-sizing: border-box;
}

#custom_carousel h4 { padding: 20px; }


/*  main ù��° �� contents ����*/

.item {

    padding-bottom: 120px;
    background-color: #f2f3f9;
    border-bottom: solid;
    border-bottom-color: pink;
    border-left: solid;
    border-left-color: pink;
    border-right: solid;
    border-right-color: pink;
    border-radius: 0 0 26px 26px;
}

/* ���� �ι�° �� */

#custom_carousel2 .item2
{
    color: #fff;
    background-color: #232323;
    padding: 0 0 20px 0;
}

#custom_carousel2 .controls
{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: #ddd
}

#custom_carousel2 .controls li
{
    display: table-cell;
    width: 1%;
    max-width: 90px
}

#custom_carousel2 .controls li.active
{
    background-color: white;
    border-top: 3px solid orange;
}

#custom_carousel2 .controls a small
{
    overflow: hidden;
    display: block;
    font-size: 10px;
    margin-top: 5px;
    font-weight: bold
}

.featurette img { width: 35px; }

#custom_carousel2 .col-lg-2
{
    box-sizing: border-box;
    padding: 10px;
}

#custom_carousel2 .col-lg-2 .logos
{
    height: 75px;
    box-sizing: border-box;
}

#custom_carousel2 h4 { padding: 20px; }	


/*  main �ι�° �� contents ����*/
.item2 {

    padding-bottom: 120px;
    background-color: #f2f3f9;
}









/* �� ��ư css*/
#btnTab{

  border-radius: 5px;

}

#btnTabLi{
  margin-left: 0px;
}







/* �α��ο���*/

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}






/* �� contents ����*/

.item {

    padding-bottom: 120px;
    background-color: #f2f3f9;
    border-bottom: solid;
    border-bottom-color: pink;
    border-left: solid;
    border-left-color: pink;
    border-right: solid;
    border-right-color: pink;
    border-radius: 0 0 26px 26px;
}