@CHARSET "UTF-8";


.
/** main 상단 카로셀 
 css/common/carousel/crouselBottom.css 에 있음
*/


/* */
.post-blog.contents-Border {
	border: 1px solid #8080802b !important; 
/* 	border-color: #8080802b !important; */
}