@CHARSET "UTF-8";



/* 자동 타입핑 텍스트 감싸는 div*/
.a-1-title{
/*   border: solid;  */
/*   border-color: pink;  */
  height: 46px; 
  padding-top: 1%;
  border-radius: 7px;
  background-color: white;	
}	

/* main 상단 카로셀  */
#contents-Border{
	border: solid !important; 
	border-color: #8080802b !important;
}

.carousel-inner {
	border: solid #b0e5ff2e;
/* 	background-color: #8080802b; */
background-color: white;
}

/** main 하단 카로셀 
 css/common/carousel/crouselBottom.css 에 있음
*/



